{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 col-sm-push-6">
      <div class="panel panel-primary text-center" style="display: none;">
        <div class="panel-heading">Door Status</div>
        <h3 id="status" class="text-uppercase">UNKNOWN</h3>
      </div>

      <input id="status" type="hidden">

      <div class="panel panel-primary text-center">
        <div class="panel-heading">Pi Status</div>
        <h5>CPU: <span id="cpuTemp">?</span>° C / <span id="cpuTempF">?</span>° F</h5>
        <h5>GPU: <span id="gpuTemp">?</span>° C / <span id="gpuTempF">?</span>° F</h5>
        <h5 class="hidden">Test: <span id="testTemp">?</span>° C / <span id="testTempF">?</span>° F</h5>
      </div>
    </div>

    <div class="col-sm-6 col-sm-pull-6 open_closed_btn">

      <!-- Modal Confirmation -->
      <div class="modal fade" id="confirmModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Door Switch</h4>
            </div>
            <div class="modal-body">
              <p>Confirm that you want to trigger the door.</p>
            </div>
            <div class="modal-footer">
              <button type="submit" id="triggerButton" class="btn btn-default btn-success pull-left btn-height-override" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Proceed</button>
              <button type="button" class="btn btn-default btn-danger btn-height-override" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
          </div>
        </div>
      </div>

     <!-- Modal Confirmation Timed -->
     <div class="modal fade" id="confirmModalTimed" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Door Switch Timed</h4>
          </div>
          <div class="modal-body">
            <p>Confirm that you want to trigger the door with auto close/open.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" id="triggerButtonTimed" class="btn btn-default btn-success pull-left btn-height-override" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Proceed</button>
            <button type="button" class="btn btn-default btn-danger btn-height-override" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Open / Close button -->
      <!--button type="button" id="openCloseButton" class="btn btn-primary btn-lg btn-block btn-height-override" style="vertical-align: middle" data-toggle="modal" data-target="#confirmModal">
          Trigger Door
      </button-->

      <button type="button" id="openCloseButton" class="btn btn-primary btn-lg btn-block btn-height-override" style="vertical-align: middle">
        Trigger Door
    </button>

      <br />
      <!-- Open / Close button -->
{% if session.show_timed_buttons1 %}
      <!--button type="button" id="openCloseButtonTimed" class="btn btn-primary btn-lg btn-height-override" style="vertical-align: middle; width: 49%;" 
        data-toggle="modal" data-target="#confirmModalTimed" data-btnno="1" data-val="{{ session.timed_buttons1_seconds }}"-->

      <button type="button" id="openCloseButtonTimed" class="btn btn-primary btn-lg btn-height-override" style="vertical-align: middle; width: 49%;" 
         data-btnno="1" data-val="{{ session.timed_buttons1_seconds }}">

        {% if session.show_timed_buttons1_text|length %}
          {{ session.show_timed_buttons1_text }}
        {% else %}
          {{ session.timed_buttons1_seconds }} secs
        {% endif %}

      </button>
      <br>
      <!-- I added another button that will act as the button to crack the garage open slightly -->
      <button type="button" id="CrackOpenDoorButton" class="btn btn-primary btn-lg btn-block" style="vertical-align: middle; display:none;">
        Crack Open Garage
      </button>
{% endif %}
{% if session.show_timed_buttons2 %}
      <!--button type="button" id="openCloseButtonTimed2old" class="btn btn-primary btn-lg btn-height-override" style="vertical-align: middle; width: 49%;" 
        data-toggle="modal" data-target="#confirmModalTimed" data-btnno="2" data-val="{{ session.timed_buttons2_seconds }}"-->
        
      <button type="button" id="openCloseButtonTimed2" class="btn btn-primary btn-lg btn-height-override" style="vertical-align: middle; width: 49%;" 
        data-btnno="2" data-val="{{ session.timed_buttons2_seconds }}">

        {% if session.show_timed_buttons2_text|length %}
          {{ session.show_timed_buttons2_text }}
        {% else %}
          {{ session.timed_buttons2_seconds }} secs
        {% endif %}
        
      </button>
{% endif %}

      <div id="countdown" style="display:none; text-align:center;">
        <h3>Triggering in <span id="secondsCountdown"></span></h3>
      </div>

    </div>

  </div>
</div>

<script type="text/javascript">
  var nIntervId;

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  function startStatusUpdate() {
    updateOpenClosed();
    nIntervId = setInterval(updateOpenClosed, 1500);
  }

  function updateOpenClosed() {
    $.getJSON($SCRIPT_ROOT + "/query_status",
              function(data) {
                $("#status").text(data.is_open ? "OPEN": "CLOSED")
                            .removeClass("text-danger text-success")
                            .addClass(data.is_open ? "text-danger": "text-success");
                //$("#openCloseButton").html(data.is_open ? "Close Door": "Open Door");
                //$("#doorAction").html(data.is_open ? "close": "open");
                $("#cpuTemp").html(data.cpu_temp_c.toFixed(2));
                $("#cpuTempF").html(data.cpu_temp_f.toFixed(2));
                $("#gpuTemp").html(data.gpu_temp_c.toFixed(2));
                $("#gpuTempF").html(data.gpu_temp_f.toFixed(2));
                $("#testTemp").html(data.test_temp_c.toFixed(2));
                $("#testTempF").html(data.test_temp_f.toFixed(2));
              })
              .fail(function() {
                $("#status").text("UNKNOWN").removeClass("text-warning text-success");
                $("#cpuTemp").html("?");
                $("#cpuTempF").html("?");
                $("#gpuTemp").html("?");
                $("#gpuTempF").html("?");
                $("#testTemp").html("?");
                $("#testTempF").html("?");
              });
  }

  function stopStatusUpdate() {
    clearInterval(nIntervId);
  }


  // Hookup our confirm button to trigger the door switch
  $(function(){
    $('#triggerButton').click(function(e){
      e.preventDefault();
      $.post("{{ url_for('trigger_openclose') }}");
    });

    // Auto close or open (repeat function) after x seconds
    $('#triggerButtonTimed').click(function(e){
      e.preventDefault();
      var btnno = parseInt($(this).data('btnno'));
      var autoTime = parseFloat($(this).data('val'));
      if (autoTime > 0 && autoTime <= 60) {
        $.post("{{ url_for('trigger_openclosetimed') }}", { time: autoTime, btn: btnno } );
        countdown(autoTime);
      } else {
        alert("error: value is bad. Check your app.cfg");
      }
    });

    // Set the timer value for when the user clicks Proceed in modal
    $('#confirmModalTimed').on('show.bs.modal', function (event) {
      var timerVal = $(event.relatedTarget).data('val');
      $(this).find("#triggerButtonTimed").attr("data-val", timerVal);
      var btnnoVal = $(event.relatedTarget).data('btnno');
      $(this).find("#triggerButtonTimed").attr("data-btnno", btnnoVal);
    });

    $('#openCloseButton').click(function(event){
      runNoWarnings(0, 0);
    });

    $('#openCloseButtonTimed').click(function(event){
      runNoWarnings(1, {{ session.timed_buttons1_seconds }});
    });

    $('#openCloseButtonTimed2').click(function(event){
      runNoWarnings(2, {{ session.timed_buttons2_seconds }});
    });

    function runNoWarnings(btnno, timeSecs) {
      if (localStorage.getItem('noWarningsOpen','true') !== 'true'){

        switch(btnno) {
        case 0:
          $('#confirmModal').modal('show', $("#openCloseButton"));
          break;
        case 1:
          $('#confirmModalTimed').modal('show', $("#openCloseButtonTimed"));
          break;
        case 2:
          $('#confirmModalTimed').modal('show', $("#openCloseButtonTimed2"));
          break;

        default:
          // Nothing
        }

      } else {
        var btnnoVal = btnno,
            timerVal = timeSecs; // {{ session.timed_buttons2_seconds }};

        if (btnno === 0) {
          $.post("{{ url_for('trigger_openclose') }}");
        } else if (btnno > 0 && btnno < 3 && timerVal > 0 && timerVal <= 60) {
          $.post("{{ url_for('trigger_openclosetimed') }}", { time: timerVal, btn: btnnoVal } );
          countdown(timerVal);
        } else {
          alert("error: Value is bad. Check your app.cfg");
        }
      }
    }

    $('#noWarningsOpen').click(function(e){
      if (localStorage.getItem('noWarningsOpen') === undefined || localStorage.getItem('noWarningsOpen') === 'false'){
        localStorage.setItem('noWarningsOpen','true');
      }else{
        localStorage.setItem('noWarningsOpen','false');
      }
    });

    if (localStorage.getItem('noWarningsOpen') !== undefined && localStorage.getItem('noWarningsOpen') === 'true') {
      $("#noWarningsOpen").prop('checked', true);
    }

  });

  //hook up crack open door button to trigger switch twice
  $(function(){
      $('#CrackOpenDoorButton').click(function(e){
        e.preventDefault();
        $.post("{{ url_for('trigger_crack') }}");
      });
  });


  function countdown(seconds) {
    var countdown = parseInt(seconds),
    countdowndiv = document.querySelector('#countdown'),
    display = document.querySelector('#secondsCountdown');
    //document.querySelector('#openCloseButtonTimed').setAttribute("disabled","disabled");
    startTimer(countdown, display, countdowndiv);
    //document.querySelector('#openCloseButtonTimed').removeAttribute("disabled");
  }

  function startTimer(duration, display, countdowndiv) {
    var timer = duration, minutes, seconds, inter;
    
    countdowndiv.setAttribute("style", "display: block; text-align:center;");
    inter = setInterval(function () {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "" + minutes : minutes;
      seconds = seconds < 10 ? "" + seconds : seconds;

      if (minutes > 0) {
        display.textContent = minutes + " m " + seconds + " s";
      } else {
        display.textContent = seconds + " seconds";
      }

      if (--timer < 0) {
          timer = duration;
          countdowndiv.setAttribute("style", "display:none; text-align:center;");
          display.textContent = "";
          clearInterval(inter);
      }

    }, 1000);
  }

  // Begin the update query loop
  startStatusUpdate();
</script>
{% endif %}
{% endblock %}